<div class="pageText col-md-9">
	<p>Porsche ME or Porsche (German) a German manufacturer of automobiles, which is majority-owned by the Porsche and Piëch families. Porsche ME holds two chief assets, the first of which is Dr. Ing. h.c. F. Porsche AG, often shortened to Porsche AG, manufacturer of the Porsche automobile line. The second asset is a large stake in Volkswagen AG.<p>
	<p>It was founded in 1931 by Ferdinand Porsche, an Austro-Hungarian engineer, born in Maffersdorf, Austria-Hungary (today Vratislavice, Czech Republic) who also designed the first Volkswagen. The company is headquartered in Zuffenhausen, a city district of Stuttgart, Baden-Württemberg. They currently produce 911 (997), Boxster, and Cayman sports cars and Cayenne sport utility vehicles.</p>

	<h2>Porsche - A Brief History</h2>

	<p>Ferdinand Porsche played an important role in the development of airplanes and racing cars, and the construction of tanks for the Wehrmacht. He is an automobile engineer with more than a thousand patents to his name. He was appointed chief engineer at Mercedes-Benz in Stuttgart in the 1920s. Later on, he set up his own engineering workshop and designed among others the Volkswagen. At the plant where Volkswagen was made, Wolfsburg, he was chief of operations and at the end of the war he was interned by the Allies.</p>

	<p>He was released a few years later and started building his first car with his son, Ferry Porsche. The car was named the Porsche 356 and it was a sports car and a reminiscent of the Volkswagen. It had the same four-cylinder boxer engine that was rear-mounted, just like the VW. It was far from being a powerful sports car, developing only 40 bhp and a maximum speed of 87 mph (140 km/h).</p>

	<p>First produced as a convertible and later as a hard top it distinguished by the very elegant and innovative body. It was developed in the workshop of Erwin Komenda, a master of restrained streamlining who had been in charge of sheet metal and design techniques at Porsche since the VW Beetle. The new style of closed coupe was designed by Komenda and it soon became the embodiment of the sports car, thanks to its fastback.</p>

	<p>This tradition was continued by Komenda and Ferdinand “Butzi” Porsche, the founder’s grandson, with the 911.</p>

	<p>The 911 became easily recognizable: it had attractive sloping bonnet and what later became characteristic “frog eye” headlights, curves running from the top edge of the windscreen to the rear bumper and a straight waistline. From a functional and technical point of view it was more like BMW 1500, although it retained the stylistic features of the original Porsche. The new 911 will become the foundation stone of Porsche’s identity, even though the design was not always appreciated.</p>

	<p>During the 1970`s and 1980`s, the designers attempts to distance Porsche from its legendary design brought the company to the edge of disaster. The more modern 924 model, “a people’s Porsche”, developed with Volkswagen, as well as the 928 were far from fulfilling the expectations.</p>

	<p>In the 1990`s, the company realized that what for over twenty years was perceived as a straitjacket, it was in fact a market advantage. During the 1990`s, Porsche became highly profitable since they now knew that the typical Porsche features were timeless. Nearly forty people now worked in the design department on further developments of the long-running 911.</p>

	<p>These developments included the 911 GTI, a powerful combination of sports and racing car, put forward by the in-house designer Anthony R. Hatter. In 1999, chief designer proudly presented the new Boxster which enabled Porsche to establish a second independent range of models.</p>
</div>
<div class="col-md-3">
	<img class="carPoster" src="images/porsche_poster_1.jpg" width="200" height="300">
	<img class="carPoster" src="images/porsche_poster_2.jpg" width="200" height="300">
	<img class="carPoster" src="images/porsche_poster_3.jpg" width="200" height="300">
	<img class="carPoster" src="images/porsche_poster_5.jpg" width="200" height="300">
</div>