// variables 

// colors 
$white: #FFFFFF;
$grey: #D3D3D3;
$light-grey: #EEEEEE;
$error-color: #FA787E;
$valid-color: #78FA89;
$button-red: #B53333;
$hover-red: #cc0000;
$button-text: #F1F1F1;
// Widths 
$max-width: 1024px;
$max-percent-width: 100%;
$min-device-width: 768px;
