<p>Please select your type of enquiry below:</p>
<form name="myForm">
    <label for="repeatSelect">Enquiry:</label>
    <select name="repeatSelect" id="enquiryType" ng-model="formEnquiry">
      <option value="sale">Sale</option>
      <option value="specifications">Further Specifications</option>
      <option value="testDrive">Book Test Drive</option>
      <option value="other">Other/Custom Enquiry</option>
    </select>
</form>

<form ng-show="formEnquiry != null">
	<div>
	 <span id="name">Name</span>
      <input type="text" class="form-control" name="name" pattern="[A-Za-z ]{1,}"ng-model="name" required/>
    </div>
    <div>
	 <span id="number">Contact Number</span>
      <input type="text" class="form-control" name="number" pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$" ng-model="telNumber" required/>
    </div>
      <div>
	 <span id="email">Email Address</span>
      <input type="email" class="form-control" name="email" ng-model="email" required/>
    </div>
	<div>
	  <span id="carModel">Car Model</span>
	  <input type="text" class="form-control" placeholder="Porsche&nbsp;{{car.model}}">
	</div>
	<div>
	  <span id="carEngine">Car Engine</span>
	  <input type="text" class="form-control" placeholder="{{car.engine}}">
	</div>
	<div ng-show="formEnquiry=='sale'">
	  <span id="sale">Sale</span>
	  <textarea rows="4" cols="50" class="form-control" disabled>Could you please contact me regarding a sale for this vehicle.&#10;Name:&nbsp;{{name}}&#10;Email:&nbsp;{{email}}&#10;Tel Number:&nbsp;{{telNumber}}</textarea>
	</div>
	<div ng-show="formEnquiry=='specifications'">
	  <span id="carEngine">Specifications</span>
	  <textarea rows="4" cols="50" class="form-control" disabled>Would you be able to give me further specifications for this vehicle.&#10;Name:&nbsp;{{name}}&#10;Email:&nbsp;{{email}}&#10;Tel Number:&nbsp;{{telNumber}}</textarea>
	</div>
	<div ng-show="formEnquiry=='testDrive'">
	  <span id="carEngine">Book a Test Drive</span>
	  <textarea rows="4" cols="50" class="form-control" disabled>Could I arrange a test drive for this vehicle.&#10;Name:&nbsp;{{name}}&#10;Email:&nbsp;{{email}}&#10;Tel Number:&nbsp;{{telNumber}}</textarea>
	</div>
	<div ng-show="formEnquiry=='other'">
	  <span id="carEngine">Other</span>
	  <textarea rows="4" cols="50" class="form-control">Please type your enquiry here.&#10;Name:&nbsp;{{name}}&#10;Email:&nbsp;{{email}}&#10;Tel Number:&nbsp;{{telNumber}}</textarea>
	</div>
	<a type="submit" class="button">Submit</a>
</form>