<p>You can contact us using the form below:</p>
<form>
	<div>
	 <span id="name">Name</span>
      <input type="text" class="form-control" name="name" pattern="[A-Za-z ]{1,}"ng-model="name" required/>
    </div>
    <div>
	 <span id="number">Contact Number</span>
      <input type="text" class="form-control" name="number" pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$" ng-model="telNumber" required/>
    </div>
      <div>
	 <span id="email">Email Address</span>
      <input type="email" class="form-control" name="email" ng-model="email" required/>
    </div>
    <div>
	  <span id="query">Enquiry</span>
	  <textarea rows="4" cols="50" class="form-control">Please type your enquiry here.</textarea>
	</div>
	<a type="submit" class="button">Submit</a>
</form>