<div class="col-md-7 col-sm-12">
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

<ul>
    <li><a href="#/stock">View our Stock</a></li>
    <li><a href="#/sale">View our Sale Cars</a></li>
    <li><a href="#/sold">Check our Cars we have Sold</a></li>
    <li><a href="#/sell">Sell your car</a></li>
    <li><a href="#/service">Arrange a service for your vehicle</a></li>
    <li><a href="#/history">Find out the history of the modern german supercar</a></li>
    <li><a href="#/contact">Contact Us</a></li>
</ul>
</div>
<div class="col-md-5 hidden-md-down">
	<div id="carousel">
		<ul>
		  <li><img class="carImage" src="images/porsche_dealer_1.jpg" height="300px" width="400px"></li>
		  <li><img class="carImage" src="images/porsche_dealer_2.jpg" height="300px" width="400px"></li>
		  <li><img class="carImage" src="images/porsche_dealer_3.jpg" height="300px" width="400px"></li>
		  <li><img class="carImage" src="images/porsche_dealer_4.jpg" height="300px" width="400px"></li>
		</ul>
	</div>
</div>