<form>
	<div>
	 <span id="name">Name</span>
      <input type="text" class="form-control" name="name" required/>
    </div>
    <div>
	 <span id="number">Contact Number</span>
      <input type="text" class="form-control" name="number" required/>
    </div>
      <div>
	 <span id="email">Email Address</span>
      <input type="email" class="form-control" name="email" required/>
    </div>
	<div>
	  <span id="carModel">Car Model</span>
	  <input type="text" class="form-control">
	</div>
	<div>
	  <span id="carEngine">Car Engine</span>
	  <input type="text" class="form-control">
	</div>
	<div>
	  <span id="carEngine">Car Engine</span>
	  <input type="text" class="form-control">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>