<a id="showSearch" class="button" ng-click="newDiv = !newDiv" type="button">Click to enhance search</a>
<div class="carSearchForm">
  <car-search></car-search>
</div>
<!-- Project One -->
  <div class="stockList">
    <div class="row" ng-hide="car.sold === true" ng-repeat="car in cars | filter: Query as result">
      <span ng-show="(cars| filter:Query).length == 0">Nothing here!</span>
      <div class="col-md-8 col-sm-12">
          <div class="carInfo">
             <h2>{{car.length}}</h2>
             <h2>{{car.make}}&nbsp;{{car.model}}</h2>
             <h3>{{car.price | currency:'£':0}}</h3>
             <h4 class="discount" ng-show="car.discount">Was&nbsp;{{car.price + car.discount | currency:'£':0}}</h4>
             <h5 ng-show="car.message"><i>{{car.message}}</i></h5>
            </div>
         <a class="lightbox" ng-href="{{car.image}}"><img class="carImage" ng-src="{{car.image}}" height:"300" width="450"></a>
      </div>
      <div class="carContent col-md-4 col-sm-12">
          <p><strong>Mileage:</strong>&nbsp;{{car.mileage | number}}</p>
          <p><strong>Year Registered:</strong>&nbsp;{{car.year}}</p>
          <p><strong>Number of Owners:</strong>&nbsp;{{car.owners}}</p>
          <p><strong>Transmission:</strong>&nbsp;{{car.transmission}}</p>
          <p><strong>Engine Size:</strong>&nbsp;{{car.engine}}</p>
          <p><strong>Fuel:</strong>&nbsp;{{car.fuel}}</p>
          <p><strong>Colour:</strong>&nbsp;{{car.colour}}</p>
          <p><strong>Interior:</strong>&nbsp;{{car.interior}}</p>
          <p><strong>Location:</strong>&nbsp;{{car.location}}</p>
          <a class="button" href="#/cars/{{car.id}}" >Click for more information</a>
          <a class="button" href="#/enquire/{{car.id}}" >Enquire</a>
          </div>
          <hr>
       </div>
    </div>
  </div>