<form>
	 <span id="name">Name</span>
      <input type="text" name="name" required/>
	 <span id="number">Contact Number</span>
      <input type="text" name="number" required/>
	 <span id="email">Email Address</span>
      <input type="email" name="email" required/>
	  <span id="carModel">Car Model</span>
	  <input type="text">
	  <span id="carEngine">Car Engine</span>
	  <input type="text">
	  <span id="carColor">Car Color</span>
	  <input type="text">
	<a type="submit" class="button">Submit</a>
</form>